@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Meltix';
    src: url('../assets/Font/Meltix_Bold_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meltix_Regular';
    src: url('../assets/Font/Meltix_Regular_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meltix_Light';
    src: url('../assets/Font/Meltix_Light_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
